USE [master]
GO
/****** Object:  Database [DBXlebobylochnoe]    Script Date: 02.06.2026 11:04:08 ******/
CREATE DATABASE [DBXlebobylochnoe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBXlebobylochnoe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DBXlebobylochnoe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBXlebobylochnoe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DBXlebobylochnoe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBXlebobylochnoe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBXlebobylochnoe]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 02.06.2026 11:04:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[company_id] [nvarchar](20) NOT NULL,
	[company_name] [nvarchar](255) NOT NULL,
	[company_inn] [nvarchar](12) NULL,
	[company_address] [nvarchar](500) NULL,
	[company_phone] [nvarchar](20) NULL,
	[company_is_salesman] [bit] NOT NULL,
	[company_is_buyer] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[company_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerOrder]    Script Date: 02.06.2026 11:04:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerOrder](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[order_number] [nvarchar](50) NOT NULL,
	[order_date] [date] NOT NULL,
	[order_customer_id] [nvarchar](20) NOT NULL,
	[order_supplier_id] [nvarchar](20) NOT NULL,
	[order_total] [decimal](12, 2) NOT NULL,
	[order_status] [nvarchar](20) NOT NULL,
	[created_by_user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[order_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 02.06.2026 11:04:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[material_id] [int] IDENTITY(1,1) NOT NULL,
	[material_name] [nvarchar](255) NOT NULL,
	[material_code] [nvarchar](50) NOT NULL,
	[material_unit_id] [int] NOT NULL,
	[material_category_id] [int] NULL,
	[material_base_price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[material_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[material_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialCategory]    Script Date: 02.06.2026 11:04:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialCategory](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderLine]    Script Date: 02.06.2026 11:04:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderLine](
	[order_line_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[order_line_product_id] [int] NOT NULL,
	[order_line_quantity] [decimal](10, 3) NOT NULL,
	[order_line_unit_id] [int] NOT NULL,
	[order_line_unit_price] [decimal](10, 2) NOT NULL,
	[order_line_total] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_line_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Price]    Script Date: 02.06.2026 11:04:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Price](
	[price_id] [int] IDENTITY(1,1) NOT NULL,
	[price_date] [date] NOT NULL,
	[price_type] [nvarchar](20) NOT NULL,
	[price_item_id] [int] NOT NULL,
	[price_value] [decimal](10, 2) NOT NULL,
	[price_currency] [nvarchar](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[price_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 02.06.2026 11:04:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [nvarchar](255) NOT NULL,
	[product_code] [nvarchar](50) NOT NULL,
	[product_unit_id] [int] NOT NULL,
	[product_category_id] [int] NULL,
	[product_base_price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[product_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 02.06.2026 11:04:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Production]    Script Date: 02.06.2026 11:04:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Production](
	[production_id] [int] IDENTITY(1,1) NOT NULL,
	[production_number] [nvarchar](50) NOT NULL,
	[production_date] [date] NOT NULL,
	[production_status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[production_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[production_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionMaterial]    Script Date: 02.06.2026 11:04:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionMaterial](
	[production_material_id] [int] IDENTITY(1,1) NOT NULL,
	[production_id] [int] NOT NULL,
	[production_mat_material_id] [int] NOT NULL,
	[production_mat_quantity] [decimal](10, 3) NOT NULL,
	[production_mat_unit_id] [int] NOT NULL,
	[production_mat_unit_price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[production_material_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionProduct]    Script Date: 02.06.2026 11:04:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionProduct](
	[production_product_id] [int] IDENTITY(1,1) NOT NULL,
	[production_id] [int] NOT NULL,
	[production_prod_product_id] [int] NOT NULL,
	[production_prod_quantity] [decimal](10, 3) NOT NULL,
	[production_prod_unit_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[production_product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 02.06.2026 11:04:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specification]    Script Date: 02.06.2026 11:04:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specification](
	[spec_id] [int] IDENTITY(1,1) NOT NULL,
	[spec_name] [nvarchar](255) NOT NULL,
	[spec_product_id] [int] NOT NULL,
	[spec_manufacturer_id] [nvarchar](20) NOT NULL,
	[spec_created_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[spec_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpecificationMaterial]    Script Date: 02.06.2026 11:04:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecificationMaterial](
	[spec_material_id] [int] IDENTITY(1,1) NOT NULL,
	[spec_id] [int] NOT NULL,
	[spec_mat_material_id] [int] NOT NULL,
	[spec_mat_quantity] [decimal](10, 3) NOT NULL,
	[spec_mat_unit_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[spec_material_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 02.06.2026 11:04:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[unit_id] [int] IDENTITY(1,1) NOT NULL,
	[unit_name] [nvarchar](20) NOT NULL,
	[unit_description] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[unit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[unit_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 02.06.2026 11:04:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[role_id] [int] NOT NULL,
	[is_blocked] [bit] NULL,
	[failed_attempts] [int] NULL,
	[created_date] [datetime] NULL,
	[customer_id] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Company] ADD  DEFAULT ((0)) FOR [company_is_salesman]
GO
ALTER TABLE [dbo].[Company] ADD  DEFAULT ((0)) FOR [company_is_buyer]
GO
ALTER TABLE [dbo].[CustomerOrder] ADD  DEFAULT ((0)) FOR [order_total]
GO
ALTER TABLE [dbo].[CustomerOrder] ADD  DEFAULT ('new') FOR [order_status]
GO
ALTER TABLE [dbo].[Price] ADD  DEFAULT (getdate()) FOR [price_date]
GO
ALTER TABLE [dbo].[Price] ADD  DEFAULT ('RUB') FOR [price_currency]
GO
ALTER TABLE [dbo].[Production] ADD  DEFAULT ('planned') FOR [production_status]
GO
ALTER TABLE [dbo].[Specification] ADD  DEFAULT (getdate()) FOR [spec_created_date]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_blocked]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [failed_attempts]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[CustomerOrder]  WITH CHECK ADD  CONSTRAINT [FK_CustomerOrder_CreatedBy] FOREIGN KEY([created_by_user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[CustomerOrder] CHECK CONSTRAINT [FK_CustomerOrder_CreatedBy]
GO
ALTER TABLE [dbo].[CustomerOrder]  WITH CHECK ADD  CONSTRAINT [FK_CustomerOrder_Supplier] FOREIGN KEY([order_supplier_id])
REFERENCES [dbo].[Company] ([company_id])
GO
ALTER TABLE [dbo].[CustomerOrder] CHECK CONSTRAINT [FK_CustomerOrder_Supplier]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_Category] FOREIGN KEY([material_category_id])
REFERENCES [dbo].[MaterialCategory] ([category_id])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_Category]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_Unit] FOREIGN KEY([material_unit_id])
REFERENCES [dbo].[Unit] ([unit_id])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_Unit]
GO
ALTER TABLE [dbo].[OrderLine]  WITH CHECK ADD  CONSTRAINT [FK_OrderLine_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[CustomerOrder] ([order_id])
GO
ALTER TABLE [dbo].[OrderLine] CHECK CONSTRAINT [FK_OrderLine_Order]
GO
ALTER TABLE [dbo].[OrderLine]  WITH CHECK ADD  CONSTRAINT [FK_OrderLine_Product] FOREIGN KEY([order_line_product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[OrderLine] CHECK CONSTRAINT [FK_OrderLine_Product]
GO
ALTER TABLE [dbo].[OrderLine]  WITH CHECK ADD  CONSTRAINT [FK_OrderLine_Unit] FOREIGN KEY([order_line_unit_id])
REFERENCES [dbo].[Unit] ([unit_id])
GO
ALTER TABLE [dbo].[OrderLine] CHECK CONSTRAINT [FK_OrderLine_Unit]
GO
ALTER TABLE [dbo].[Price]  WITH CHECK ADD  CONSTRAINT [FK_Price_Product] FOREIGN KEY([price_item_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Price] CHECK CONSTRAINT [FK_Price_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([product_category_id])
REFERENCES [dbo].[ProductCategory] ([category_id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Unit] FOREIGN KEY([product_unit_id])
REFERENCES [dbo].[Unit] ([unit_id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Unit]
GO
ALTER TABLE [dbo].[ProductionMaterial]  WITH CHECK ADD  CONSTRAINT [FK_ProductionMat_Material] FOREIGN KEY([production_mat_material_id])
REFERENCES [dbo].[Material] ([material_id])
GO
ALTER TABLE [dbo].[ProductionMaterial] CHECK CONSTRAINT [FK_ProductionMat_Material]
GO
ALTER TABLE [dbo].[ProductionMaterial]  WITH CHECK ADD  CONSTRAINT [FK_ProductionMat_Production] FOREIGN KEY([production_id])
REFERENCES [dbo].[Production] ([production_id])
GO
ALTER TABLE [dbo].[ProductionMaterial] CHECK CONSTRAINT [FK_ProductionMat_Production]
GO
ALTER TABLE [dbo].[ProductionMaterial]  WITH CHECK ADD  CONSTRAINT [FK_ProductionMat_Unit] FOREIGN KEY([production_mat_unit_id])
REFERENCES [dbo].[Unit] ([unit_id])
GO
ALTER TABLE [dbo].[ProductionMaterial] CHECK CONSTRAINT [FK_ProductionMat_Unit]
GO
ALTER TABLE [dbo].[ProductionProduct]  WITH CHECK ADD  CONSTRAINT [FK_ProductionProd_Product] FOREIGN KEY([production_prod_product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[ProductionProduct] CHECK CONSTRAINT [FK_ProductionProd_Product]
GO
ALTER TABLE [dbo].[ProductionProduct]  WITH CHECK ADD  CONSTRAINT [FK_ProductionProd_Production] FOREIGN KEY([production_id])
REFERENCES [dbo].[Production] ([production_id])
GO
ALTER TABLE [dbo].[ProductionProduct] CHECK CONSTRAINT [FK_ProductionProd_Production]
GO
ALTER TABLE [dbo].[ProductionProduct]  WITH CHECK ADD  CONSTRAINT [FK_ProductionProd_Unit] FOREIGN KEY([production_prod_unit_id])
REFERENCES [dbo].[Unit] ([unit_id])
GO
ALTER TABLE [dbo].[ProductionProduct] CHECK CONSTRAINT [FK_ProductionProd_Unit]
GO
ALTER TABLE [dbo].[Specification]  WITH CHECK ADD  CONSTRAINT [FK_Specification_Manufacturer] FOREIGN KEY([spec_manufacturer_id])
REFERENCES [dbo].[Company] ([company_id])
GO
ALTER TABLE [dbo].[Specification] CHECK CONSTRAINT [FK_Specification_Manufacturer]
GO
ALTER TABLE [dbo].[Specification]  WITH CHECK ADD  CONSTRAINT [FK_Specification_Product] FOREIGN KEY([spec_product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Specification] CHECK CONSTRAINT [FK_Specification_Product]
GO
ALTER TABLE [dbo].[SpecificationMaterial]  WITH CHECK ADD  CONSTRAINT [FK_SpecMaterial_Material] FOREIGN KEY([spec_mat_material_id])
REFERENCES [dbo].[Material] ([material_id])
GO
ALTER TABLE [dbo].[SpecificationMaterial] CHECK CONSTRAINT [FK_SpecMaterial_Material]
GO
ALTER TABLE [dbo].[SpecificationMaterial]  WITH CHECK ADD  CONSTRAINT [FK_SpecMaterial_Spec] FOREIGN KEY([spec_id])
REFERENCES [dbo].[Specification] ([spec_id])
GO
ALTER TABLE [dbo].[SpecificationMaterial] CHECK CONSTRAINT [FK_SpecMaterial_Spec]
GO
ALTER TABLE [dbo].[SpecificationMaterial]  WITH CHECK ADD  CONSTRAINT [FK_SpecMaterial_Unit] FOREIGN KEY([spec_mat_unit_id])
REFERENCES [dbo].[Unit] ([unit_id])
GO
ALTER TABLE [dbo].[SpecificationMaterial] CHECK CONSTRAINT [FK_SpecMaterial_Unit]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_Company] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Company] ([company_id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_Company]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[role] ([role_id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_role]
GO
ALTER TABLE [dbo].[CustomerOrder]  WITH CHECK ADD CHECK  (([order_total]>=(0)))
GO
ALTER TABLE [dbo].[CustomerOrder]  WITH CHECK ADD CHECK  (([order_status]='cancelled' OR [order_status]='completed' OR [order_status]='in_production' OR [order_status]='confirmed' OR [order_status]='new'))
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD CHECK  (([material_base_price]>=(0)))
GO
ALTER TABLE [dbo].[OrderLine]  WITH CHECK ADD CHECK  (([order_line_quantity]>=(0)))
GO
ALTER TABLE [dbo].[OrderLine]  WITH CHECK ADD CHECK  (([order_line_unit_price]>=(0)))
GO
ALTER TABLE [dbo].[OrderLine]  WITH CHECK ADD CHECK  (([order_line_total]>=(0)))
GO
ALTER TABLE [dbo].[Price]  WITH CHECK ADD CHECK  (([price_type]='material' OR [price_type]='product'))
GO
ALTER TABLE [dbo].[Price]  WITH CHECK ADD CHECK  (([price_value]>=(0)))
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD CHECK  (([product_base_price]>=(0)))
GO
ALTER TABLE [dbo].[Production]  WITH CHECK ADD CHECK  (([production_status]='cancelled' OR [production_status]='completed' OR [production_status]='in_progress' OR [production_status]='planned'))
GO
ALTER TABLE [dbo].[ProductionMaterial]  WITH CHECK ADD CHECK  (([production_mat_quantity]>=(0)))
GO
ALTER TABLE [dbo].[ProductionMaterial]  WITH CHECK ADD CHECK  (([production_mat_unit_price]>=(0)))
GO
ALTER TABLE [dbo].[ProductionProduct]  WITH CHECK ADD CHECK  (([production_prod_quantity]>=(0)))
GO
ALTER TABLE [dbo].[SpecificationMaterial]  WITH CHECK ADD CHECK  (([spec_mat_quantity]>=(0)))
GO
USE [master]
GO
